
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

h2{
    position: relative;
    font-size: 4em;
    font-family: sans-serif;
    color: #fff;
    overflow: hidden;
}

h2:before{
    content: '';
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 10s linear forwards;
}

footer p{
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 1%;
    left: 45%;
    font-size: 11px;
    text-align: center;
    user-select: none;
    
}

@keyframes animate{
    0%{
        left: -20%;
    }
    50%{
        left: 120%;
    }
    100%{
        left: -20%;
    }
}